@import "../../partials/variables";
@import "../../partials/typography";
@import "../../partials/mixins";
@import "../../partials/global";


.aside__item {
    display: flex;
    margin-bottom: 2rem;
}

.aside__header {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.aside__img {
    width: 7.5rem;
    height: 4.374rem;
    border-radius: 4px;

   
}

.aside__newTitle {
    @include subtitle-mobile;
    margin-bottom: 0.5rem;
}