@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
  }
  
  @mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
      @content;
    }
  }
  
  @mixin reset-margin-border-box {
    box-sizing: border-box;
    margin: 0;
  }
  
  @mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  /* Typography */
  @mixin big-title-mobile {
    font-size: 2.25rem;
    line-height: 2.75rem;
    color: $black;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  
  @mixin title-mobile {
    font-size: 1.5rem;
    line-height: 2rem;
    color: $black;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  @mixin subtitle-mobile {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: $black;
    font-weight: 500;
  }

  @mixin label-text {
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: $silver;
    text-transform: uppercase;
  }