$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

//Colors
$black: #323232;
$white: #ffffff;
$silver: #afafaf;
$alabaster: #fafafa;
$mercury: #e1e1e1;
$light-blue: #0095ff;
$dark-blue: #0065ad;