@import '../../partials/variables';
@import '../../partials/mixins';
@import '../../partials/global';

.Hero {
    position: relative;
    // overflow: hidden;
    width: 100%;
    
    }
.Hero__video {
  width: 100%;
  // height: 12.5rem;
  // z-index: 1;
  @include desktop {
    padding-right: 10rem;
    padding-left: 10rem;
    background-color: $black;
  }
}

.Hero__controlers {
  position: absolute;
    left: 0px;
    top: 130px;
    margin: 10px;
    padding: 5px 5px;
}

.Hero__play {
  position: absolute;
  left: 10px;
  border: 10px solid rgba(0,0,0,0.5);
  border-radius: 5px;
}

.Hero__scrubber {
  position: absolute;
  left: 50px;
  border: 10px solid rgba(0,0,0,0.5);
  border-radius: 5px;
}

.Hero__fullscreen {
  position: absolute;
  left: 150px;
  border: 10px solid rgba(0,0,0,0.5);
  border-radius: 5px;
}

.Hero__volume {
  position: absolute;
  left: 200px;
  border: 10px solid rgba(0,0,0,0.5);
  border-radius: 5px;
}