@import '../../partials/variables';
@import '../../partials/mixins';
@import '../../partials/global';

.hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px;
    }
.hero__video {
    min-width: 100%;
  height: 200px;
  z-index: 1;
}