@import "../../partials/variables";
@import "../../partials/mixins";
@import "../../partials/global";


.Hero__video {
    width: 100%;
    // height: 12.5rem;
    // z-index: 1;
    overflow: hidden;
    @include desktop {
      padding-right: 10rem;
      padding-left: 10rem;
      background-color: $black;
    }
  }