@import "../../partials/variables";
@import "../../partials/mixins";
@import "../../partials/global";


.upload {
    padding: 2rem;
    border-top: 2px solid $mercury;
    @include desktop {
        padding-right: 4rem;
        padding-left: 4rem;
    }
}

.upload__header {
    padding-bottom: 2rem;
}
.upload__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    @include tablet {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-top: 2px solid $mercury;
        border-bottom: 2px solid $mercury;
    }

    @include desktop {
        flex-wrap: wrap;
        flex-direction: row;
    }
}

.upload__label {
    @include label-text;
}

.upload__formbox {
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include desktop {
       flex: 2;
    }
}

.upload__videobox {
    display: flex;
    flex-direction: column;
    @include desktop {
        flex-direction: row;
        flex: 1;
        padding-top: 1rem;
    }
}

.upload__form {
    display: flex;
    flex-direction: column;
}

input[type="text"], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #afafaf;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    right: 0;
    background-color: $alabaster;
    color: $black;
}

input[type="text"]:focus,
    select:focus,
    textarea:focus {
        outline: none !important;
        border-color: $light-blue;
        
        }

.upload__thumbnail {
    width: 18rem;
    min-width: 100%;
    border-radius: 4px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    @include tablet {
        width: 21.5rem;
    }

}

.upload__cta {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include tablet {
    flex-direction: row;
    justify-content: flex-end;
    }
}


.upload__publish {
    background-color: $light-blue;
    color: $white;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    min-width: 10rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    
}



.upload__cancel {
    background-color: $white;
    color: $light-blue;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    min-width: 5rem;
    letter-spacing: 1px;
    @include tablet {
    margin-right: 1rem;
    }
}