@import "../../partials/variables";
@import "../../partials/mixins";
@import "../../partials/global";

.header {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
        flex-direction: row;
        
    }


&__elements {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include tablet {
        flex-direction: row;
        align-items: center;
         }
    @include desktop {
        margin-left: 10rem;
    }
}

&__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include tablet {
        padding: 1rem 2rem;
    }
}
&__search {
    width: 100%;
    @include tablet {
        margin-right: 1rem;
    }
}
&__label {
    position: relative;
}

&__label:before {
    content: "";
    position: absolute;
    left: 1rem;
    top: 0;
    bottom: 0;
    width: 1.25rem;
    background: url("../../assets/icons/Icon-search.svg");
    background-repeat: no-repeat;
}

&__input {
    padding: 1rem 1rem 1rem 2.5rem;
    border-radius: 4px;
    border: 2px solid $mercury;
    background-color: $alabaster;
    width: 100%;
}
&__input:focus {
    outline: none !important;
        border-color: $mercury;
}    

&__upload {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    width: 100%;
   
}
&__img {
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
}

&__btn {
    position: relative;
    background-color: $light-blue;
    color: $white;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    min-width: 13.2rem;
    letter-spacing: 1px;
    margin-right: 1rem;
}

&__btn:focus {
    outline: none !important;
    border-color: $mercury;
}

&__btn:before {
    content: "";
    position: absolute;
    left: 3rem;
    top: 1.5rem;
    bottom: 0;
    width: 1.25rem;
    background: url("../../assets/icons/Icon-upload.svg");
    background-repeat: no-repeat;
}
&__link:visited {
    color: $white;
}
}
