@import '../../partials/variables';
@import '../../partials/typography';
@import '../../partials/mixins';
@import '../../partials/global';


.Main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    @include desktop {
        flex-direction: row;
    }
}

.MainLeft__meta {
    border-bottom: 1px solid $mercury;
    margin-bottom: 1rem;
    }

.MainLeft__meta-left, 
.MainLeft__meta-right
 {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.MainLeft__views, 
.MainLeft__likes {
    display: flex;
}

.MainLeft__title {
    @include big-title-mobile;
}

.MainLeft__author {
    font-weight: bold;
    margin-right: 1rem;
}

.MainLeft__date {
    color: $silver;
}

.MainLeft__icon {
    margin-right: 0.5rem;
}

.MainLeft__views {
    margin-right: 1rem;
}
