@import "../../partials/variables";
@import "../../partials/typography";
@import "../../partials/mixins";
@import "../../partials/global";

.Main {
    // width: 100%;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    @include desktop {
        padding-right: 4rem;
        padding-left: 4rem;
    }
}
.MainLeft {
    @include desktop {
        flex: 2;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-right: 2rem;
        border-right: 1px solid $mercury;
    }

    &__meta {
        border-bottom: 1px solid $mercury;
        margin-bottom: 1rem;

        @include desktop {
            display: flex;
            justify-content: space-between;
        }
    }

    &__meta-left,
    &__meta-right {
        display: flex;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    &__views,
    &__likes {
        display: flex;
    }

    &__title {
        @include big-title-mobile;
    }

    &__author {
        font-weight: bold;
        margin-right: 1rem;
    }

    &__date {
        color: $silver;
    }

    &__icon {
        margin-right: 0.5rem;
    }

    &__views {
        margin-right: 1rem;
    }
}
