@import "../../partials/variables";
@import "../../partials/typography";
@import "../../partials/mixins";
@import "../../partials/global";

.Comments {
    margin-top: 2rem;
    margin-bottom: 2rem;


&__title {
    @include title-mobile;
    margin-bottom: 2rem;
}
&__div {
    display: flex;
    border-bottom: 1px solid $mercury;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
}
&__img {
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    margin-top: 1rem;
}
&__object {
    width: 100%;
    margin-left: 1rem;
    margin-right: 0.5rem;
    @include tablet {
        display: flex;
        flex-direction: column;
    }
}
&__subtitle {
    @include label-text;
    margin-bottom: 1rem;
}

&__form {
    @include tablet {
    display: flex;
    align-items: center;
    }
}

&__textarea {
    height: 100px;
    @include tablet {
        height: 40px;
        margin-right: 1rem;
       
    }
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    background-color: $alabaster;
    border: 1px solid $silver;
    border-radius: 5px;
    // margin-top: 6px;
    // margin-bottom: 16px;
    resize: vertical;
    right: 0;
    }

&__button {
    background-color: $light-blue;
    color: white;
    padding: 22px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
    margin-left: 1rem;
}

&__new {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $mercury;
}

&__add {
    margin-left: 1rem;
    margin-right: 0.5rem;
}

&__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

&__name {
    font-weight: 500;
    margin-right: 1rem;
}

&__date {
    margin-top: 0.2rem;
    @include label-text;
}
}
